*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
        width: 100vw;
        z-index: 1000;
        background-color: #222529;

}
.filler{
    background-color: #222529;
    padding: 14px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;


}

nav img{
    height: 90px;
    width: 160px;
}

.links ul{
    display: flex;
    gap: 25px;
    align-items: center;
}
.links li{
    list-style: none;
}

.links li a{
    text-decoration:  none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s ease-in-out;
    
}

.links li a:active{
    color: #D1A054;

}
.links li a:hover{
    color: #D1A054;
}

