

h2{
    text-align: center;
    font-size: 2rem;
    margin: 30px 0px;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* padding: 0 12% 100px; */
}


