.colorBtn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #cb8e32;
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: all .2s ease-in-out;

    
}

.colorBtn:hover{
    scale: 0.97;
}