.grid-item {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    background: black;
    border-radius: 15px ;
}

.grid-item img {
    border-radius: 15px ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.1);

    filter: blur(2px) brightness(0.4);
}

.overlay-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    color: #D1A054;
    transition: all .3s ease-in-out;

}
.overlay-text h2{
    font-size: 1.5rem;
}
.grid-item:hover .overlay-text {
    bottom: 0;
}