.OrderBtn{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;


    cursor: pointer;
}

.OrderBtn a{
    text-decoration: none;
        color: white;
            font-size: 18px;
}

.OrderBtn:hover{
    background-color: white;
    
}

.OrderBtn:hover a{
    color: black;
}