.OrderBtn{
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background-color: #D1A054;
    width: 100%;
    cursor: pointer;
}

.OrderBtn a{
    text-decoration: none;
        color: white;
            font-size: 17px;
}

.OrderBtn:hover{
    background-color:#bf8d42;
    
}

.OrderBtn:hover a{
    color: black;
}