.colorBtn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #cb8e32;
    border: none;
    cursor: pointer;

    transition: all .2s ease-in-out;

    
}

.viewBtn-link{
    text-decoration: none;
        font-size: 17px;
        color: rgb(0, 0, 0);
}

.colorBtn:hover{
    scale: 0.97;
}

